<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="" alt="Profile photo">
				<div class="card-block">
			    	<h4 class="card-title"><%= userId %></h4>
			    	<p class="card-text">User's bio</p>
			  	</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Dev short name</li>
				    <li class="list-group-item"><%= userEmail %></li>
				</ul>
				<div class="card-block">
				    <a href="#users" class="card-link">Followers</a>
				    <span class="tag tag-default tag-pill float-xs-right"><%= followers %></span>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<form class="form-inline">
				<div class="form-group">
					<textarea class="form-control tweetmessage" name="tweetmessage" rows="3" cols="50" maxlength="100"></textarea>
				</div>
				<button type="button" class="btn btn-primary btn-lg posttweet">Post</button>
			</form>
			<hr />
			<div class="showNewTweets hide">
				<a href="">You have <span class="newTweetsNumber"></span> new posts!</a>
			</div>
			<div id="tweetslist" class="list-group"></div>
		</div>
	</div>
</div>